.App > .container {
    padding: 0;
}

@media only screen and (min-width: 768px) {
    .App > .container {
        padding: 40px;
    }
}

.loading_div {
    text-align: center;
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
}

.loader {
    position: fixed;
    top: 45%;
    left: 45%;
    border: 10px solid #32a8f3;
    border-top: 10px solid #fe1188;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

h3, h2 {
    margin: 10px;
}

.container {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

@media only screen and (min-width: 768px) {
    .container {
        display: flex;
    }
}

.center {
    display: grid;
    justify-items: center;
}

.center h3 {
    margin: 0 10px;
}

@media only screen and (max-width: 768px) {
    .center-mobile {
        display: grid;
        justify-items: center;
    }
}

.grey_box {
    padding: 10px 10px 15px 10px;
    background-color: rgba(196, 196, 196, 0.34);
    display: inline-block;
    align-items: center;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .grey_box {
        display: flex;
    }
}

.vl {
    border-left: 1px solid #323338;
    height: 15px;
}

.footer_link {
    font-size: 20px;
    text-decoration-line: underline;
    color: #1A0DAB;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .footer_link {
        font-size: 24px;
    }
}